---
import slugify from "slugify";
import type { HTMLAttributes, HTMLTag } from "astro/types";

interface Props extends HTMLAttributes<"h1"> {
  level: 1 | 2 | 3 | 4 | 5 | 6;
  children: any;
}

const { level, children } = Astro.props;
const headingText = children.length && typeof children[0] === "string" ? children[0] : "";
const id = slugify(headingText.toLowerCase());
const Tag: HTMLTag = `h${level}`;
---

<Tag id={id} class="heading">
  <span>
    <a aria-label="link to this heading" aria-describedby={headingText} href={`#${id}`} class="unset anchor"> #</a>
  </span>
  <span>{children}</span>
</Tag>

<style is:inline>
  .heading {
    display: flex;
    margin-left: -1rem;
  }

  .heading > span {
    margin-top: -0.125rem;
    width: 1rem;
  }

  .heading > span > .anchor {
    color: var(--text-color);
    font-size: 0.875rem;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  .heading:focus > span > .anchor,
  .heading:hover > span > .anchor {
    opacity: 1;
  }
</style>
