---
import slugify from "slugify";
import type { HTMLAttributes, HTMLTag } from "astro/types";

interface Props extends HTMLAttributes<"h1"> {
  level: 1 | 2 | 3 | 4 | 5 | 6;
  children: any;
}

const { level, children } = Astro.props;
const headingText = children.length && typeof children[0] === "string" ? children[0] : "";
const id = slugify(headingText.toLowerCase());
const Tag: HTMLTag = `h${level}`;
---

<Tag id={id} class="post-heading">
  <a aria-label="link to this heading" aria-describedby={id} href={`#${id}`} class="unset anchor">#</a>
  {children}
</Tag>
