---
import slugify from "slugify";
import type { HTMLAttributes, HTMLTag } from "astro/types";

interface Props extends HTMLAttributes<"h1"> {
  level: 1 | 2 | 3 | 4 | 5 | 6;
  children: any;
}

const { level, children } = Astro.props;
const headingText = children.length && typeof children[0] === "string" ? children[0] : "";
const id = slugify(headingText.toLowerCase());
const Tag: HTMLTag = `h${level}`;
---

<Tag id={id} class="group flex -ml-4">
  <span class="not-prose -mt-0.5 w-4">
    <a
      aria-label="link to this heading"
      aria-describedby={headingText}
      href={`#${id}`}
      class="unset text-base font-bold text-text-link opacity-0 group-hover:opacity-100 group-focus:opacity-100 group-active:opacity-100"
    >
      #
    </a>
  </span>
  <span>{children}</span>
</Tag>
